* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #8a6891 0%, #dd6a6e 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  margin: 20px;
}

.bigDiv {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  border: 4px solid rgb(207, 117, 207);
  border-radius: 1rem;
}

h1 {
  font-weight: 900;
  margin-top: 40px;
  /* font: italic 25px/30px sans-serif; */
}

.totalScore {
  font-weight: 900;
  font-style: bold;
  font-size: 30px;
  margin-top: 20px;
}

.smallDiv {
  /* position: inherit; */
  background-color: rgb(46, 6, 6);
  color: white;
  margin-top: 120px;
  margin-left: 50px;
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 1rem;
  padding: 10px;
  text-align: center;
}

.currentScore {
  font-weight: 800;
  font-style: bold;
  font-size: 15px;
  margin-top: 10px;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn-newGame {
  top: 3rem;
}

.btn-rollDice {
  top: 39.5rem;
}
.btn-hold {
  top: 44.5rem;
}

.hidden {
  opacity: 0;
}
